<div class="w-100 mt-auto">
    <div class="card bg-dark text-light text-center rounded-0">
        <h4 class="card-footer font-weight-bold bg-secondary border-0">
            Featured
        </h4>
        <div class="card-body border-0">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>